#Games {
    display: grid;
    margin-left: 50px;
    grid-template-columns: repeat(6, 0fr);
    gap: 10px;
}

.game-card {
    width:250px;
    background: #1c1c1c;
    border-radius: 12px;
    overflow: hidden;
    color: white;
    margin: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.game-card:hover {
    transform: scale(1.05);
    background: #2a2a2a;
}

.game-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: transform 0.4s ease;
}


.game-info {
    padding: 12px;
    text-align: left;
}
.game-info h3 {
    font-size: 16px;
    margin-bottom: 6px;
}

.more-btn {
    background: #2d6cdf;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.more-btn:hover {
    background: #1a4fbf;
}


.rating {
    font-size: 14px;
    color: #ffd700;
}


